@import '../variables';

.sign_up {
    width: 100%;
    max-height: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        background: #f9f9f9; 
        height: 100%;
        // border-right: 1px solid rgba(51, 51, 51, 0.6);
    }

    & .info {
        width: 50%;
        padding-top: 100px;
        padding-right: 120px;
        position: relative;

        & .info_nav {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            text-transform: capitalize;
            padding: 0 60px;
            padding-top: 40px;
            font-weight: 500;
            display: flex;
            justify-content:  space-between;
            align-items: center;

            &>a {
                color: #333;
            }            
        }

        & .info_content {
            margin-left: auto;
            max-width: 320px;
            min-width: 320px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            & .head {
                text-transform: capitalize;

                & svg {
                    height: 40px;
                }

                & h6 {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    color: #191b1d;
                    font-size: 1.5em;
                    line-height: 1.3em;
                    font-weight: 600;
                }

                p {
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 500;
                }
            }

            & .features {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                margin-top: 24px;
                padding-top: 12px;
                padding-bottom: 12px;
                -webkit-box-align: start;
                -webkit-align-items: flex-start;
                -ms-flex-align: start;
                align-items: flex-start;

                & img {
                    margin-top: 2px;
                    max-height: 20px;
                    max-width: 20px;
                    min-height: 20px;
                    min-width: 20px;                    
                    margin-right: 12px;
                }

                & .text {
                    & h3 {
                        font-size: 16px;
                        font-weight: 500;
                    }

                    & p {
                        max-width: 440px;
                        color: #666;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    & .form {
        width: 50%;
        background: #ffffff;
        padding-top: 100px;
        padding-left: 80px;
        padding-bottom: 120px;
        position: relative;
        

        & .form_nav {
            position: absolute;
            top: 0px;
            left: 0;
            width: 100%;
            text-transform: capitalize;
            padding: 0 60px;
            padding-top: 30px;
            font-weight: 500;
            display: flex;
            justify-content:  space-between;
            align-items: center;

            &>svg {
                height: 40px;
                color: #333;
            }

            &>a {
                color: #333;
            }            
        }

        & .h5 {
            margin-top: 10px;
            margin-bottom: 16px;
            color: #333;
            font-size: 32px;
            line-height: 40px;
            font-weight: 700;
        }

        & .terms {
            font-size: 14px;
            max-width: 440px;
            color: #666;
            margin-top: 20px;
            line-height: 20px;

            & a {
               color: #666; 
               font-weight: 600;
            }
        }

        & form {
            width: 431.938px;
            margin-right: auto;
            padding-top: 24px;
            padding-bottom: 24px;

            & .input_container {
                margin-bottom: 20px;
                position: relative;
                background: #fff;
                border: 1px solid #e0e0e0;
                padding: 15px 20px;
                border-radius: 8px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:hover {
                   border: 1px solid #333; 
                }                

                & .input_content {
                    width: 100%;                                  
                            
                    & input {
                        font-family: 'Poppins', sans-serif;
                        width: 100%;
                        border-radius: 6px;
                        height: 100%;
                        background: transparent;
                        border: 0;
                        padding: 10px 0;
                        box-sizing: border-box;
                        outline: none;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 15px;
                        color: #333;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        resize: none;  
                        transition: all .3s ease-in-out;  
                                    

                        &:focus + label {
                            visibility: visible;
                            font-size: 10px;
                            font-weight: 600;
                            top: 0%;
                            background-color: #fcfcfc;
                            padding: 0 10px;
                            color: #999;
                        }
                    }

                    & label {
                        font-family: 'Poppins', sans-serif;
                        display: block;
                        visibility: hidden;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 20px;
                        color: #fff;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: all .3s ease-in-out;
                    }
                }
            }

            & button {
                                outline: none;
                                border: 0;
                                text-transform: uppercase;
                                cursor: pointer;
                                border-radius: 10px;
                                height: 56px;
                                padding: 0 40px;
                                font-size: 14px;
                                font-weight: 600;
                                white-space: nowrap;
                                transition: all .3s ease-in-out;
                                z-index: 3;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background: #333;
                                color: #fff;
                                position: relative;
                                width: 100%;
                                font-family: 'Poppins', sans-serif;

                                &::before {
                                    white-space: nowrap;
                                    transition: all .3s ease-in-out;
                                    content: 'SIGN UP';
                                    background-color: #f5f5fa;
                                    text-transform: uppercase;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 0%;
                                    height: 100%;
                                    border-radius: 10px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    overflow: hidden;
                                    border: 0;
                                    color: #333;
                                }

                                &:hover::before {
                                    width: 100%;
                                    z-index: 5;                                    
                                    border: 1px solid #333;
                                }
                            
                        }
        }
    }
}