@import "../variables";

.wrapper {
    width: 100%;
    height: auto;

    // @media (max-width:550px) {
    //     overflow: hidden;
    // }

    & .upload {
        height: 100vh;
        background-color: #f5f5fa;
        width: 50%;
        position: fixed;
        left: 0;
        top: 0;
        padding: 0 2rem;
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
        transition: .3s scale ease;

        @media (max-width:550px) {
            width: 100%;
            z-index: 99;
            overflow: hidden;
        }

        & .head {
            width: 100%;
            // background-color: red;
            position: absolute;
            top: 0;
            left: 0;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 3rem;

            & svg {
                height: 45px;
            }

            & .opt {
                // background-color: grey;

                & span {
                    color: #6C7884;
                    position: relative;

                    & legend {
                      position: absolute !important;
                    }

                    & svg {
                        height: 25px;  
                        cursor: pointer;  
                        margin-right: 1rem;            
                    } 
                }

                & a {
                    & svg {
                        height: 25px;  
                        cursor: pointer; 
                        color: #6C7884;
                        margin-left: 1rem;           
                    } 
                }

            }
        }

        & .welcome {
            margin-bottom: 3rem;
            font-size: 18px;
        }

        & .up {
            width: 450px;
            max-width: 500px;
            margin: 0 auto;

            @media (max-width:550px) {
                width: 90%;
                max-width: unset;
            }

            & .imageUp {
                width: 450px;
                height: 150px;
                margin-bottom: 30px;
                position: relative;    
                
                @media (max-width:550px) {
                    width: 90%;
                }

                & label {
                    border: 1px dashed #CCCCCC; 
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center; 
                    cursor: pointer; 

                    & svg {
                        height: 30px;              
                
                    }
                }

                & .file {
                    width: 100%;
                    height: 100%;
                    // background-color: #000;
                    border-radius: 8px;                    
                    position: absolute;    
                    top: 0;
                    left: 0; 
                    display: none;          
                }
            }            

        }
        
    }

    & .download {
        margin-left: auto;
        width: 50%;
        min-height: 100vh;
        background-color: #fff;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;

        & .mHouse {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 9999;
            height: 50px;
            width: 50px;
            background-color: #333;                
            border-radius: 100px;
            display: grid;
            place-items: center;
            cursor: pointer;
            visibility: hidden;

            @media (max-width:550px) {
                visibility: visible;
            }   

            & .menu {                
                height: 20px;
                width: 20px;
                background-color: #f5f5f5;
            }

            & .menuSvg {
            }
        }        

        @media (max-width:550px) {
            width: 100%;
            margin: 0 auto;
        }

        & .head {
            width: 100%;
            // background-color: red;
            position: absolute;
            top: 0;
            left: 0;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 3rem;

            @media (max-width:550px) {
                height: 100px;
                padding: 0 1.5rem;
            }

            & h3 {               
                color: #333;                
            }

            & .a {    
                cursor: pointer;
                
                & svg {
                    color: #6C7884;
                    height: 25px;
                }
                
            }
        }

        & .info {
            width: 100%;
            height: 200px;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            @media (max-width:550px) {
                height: 250px;
            }

            & .wrap_i {                
                width: 100%;
                height: 120px;
                align-items: center;
                padding: 0 3rem;
                display: flex;
                justify-content: space-around;
                overflow: hidden;

                @media (max-width:550px) {
                    height: 150px;
                    justify-content: space-between;
                    padding: 0rem;
                    width: 350px;
                    overflow-x: scroll;
                    padding: 1.5rem;
                    cursor: grab;

                    &::-webkit-scrollbar {
                        width: 0;
                    }
                }

                & .i {
                    width: 250px;
                    height: 80px;
                    background-color: #f5f5fa;
                    border-radius: 10px;
                    padding: 0 1.2rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    @media (max-width:550px) {
                        margin: 0 auto;

                        &:not(:last-child) {
                            margin-right: 2rem;
                        }                        
                    }

                    & .icon {
                        height: 50px;
                        width: 50px;
                        background-color: #fff;
                        border-radius: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 600; 
                        
                        @media (max-width:550px) {
                            margin-right: 10px;                      
                        }
                    }

                    & .desc {
                        height: 50px;
                        width: 150px;
                        background-color: #fff;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 600;
                        font-size: 14px;
                        cursor: pointer;
                        position: relative;

                        & span {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            & svg {
                                margin-left: 5px;
                                height: 20px;
                            }   
                        }
                        
                    }
                }
            }
        }

        & .stash {
            width: 100%;
            height: auto;
            padding: 2rem 3rem;  
            padding-top: 4.5rem;          
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            @media (max-width:550px) {
                width: 100%; 
                padding: 2rem 0rem;  
                padding-top: 4.5rem; 
            }
            
            &::-webkit-scrollbar {
                width: 0;
            }

            &::after {
                content: '';
                position: absolute;
                padding: 1.5rem 0;
                background-color: #f5f5f5;
                width: 100%;
                top: 0;
                left: 0;
            }

            & .folder {
                width: 250px;
                height: 150px;
                background-color: #f5f5f57c;
                border-radius: 10px;
                padding: 0 1.2rem; 
                margin-bottom: 1.2rem;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .3s ease-in-out;
                box-shadow: 0.5px 2px rgba(0, 0, 0, 0.05);
                cursor: pointer;

                @media (max-width:550px) {
                    margin-left: auto;
                    margin-right: auto;
                    width: 300px;
                    height: 200px;
                }

                &:hover {
                    transform: scale(0.95);
                }

                & h3 {
                    margin-top: -2rem;
                    color: #333;
                }

                & span {                    
                    height: 40px;
                    width: 100%;
                    // background-color: rgba(51, 51, 51, 0.01);
                    bottom: 0;
                    left: 0;
                    z-index: 9;
                    position: absolute;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-end;
                    padding-right: 2rem;
                    border-radius: 0 0 10px 10px;
                    color: #6C7884;

                    & svg {
                        height: 20px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}




// h5 {
//     background: #168AE6 !important;    
// }

