.navbar {
    width: 100%;
    height: 115px;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    z-index: 99;
    overflow-x: hidden;
    // padding: 0 150px;      
    // background-color: grey;

    & .navInner {      
        width: 1050px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background-color: red;
        height: fit-content;

        @media (max-width:550px) {
            width: 85%;
        }
       
        & .navLogo {

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #333;
                font-weight: 600;

                & h1 {
                    font-size: 1.5rem;
                }
            }

            a > svg {
                height: 45px;
                margin-right: .6rem;
            }
        }

        & .navList {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // background-color: aqua;

            & li {
                text-transform: uppercase;
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
                line-height: 19px;
                font-weight: 600;
                letter-spacing: .05em;                

                & a {
                    color: #000;
                }

                &:last-of-type {   
                    width: fit-content;
                    height: 48px; 

                    & .a {                
                        width: 160px;
                        height: 100%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;   
                        
                        &::before {
                            content: 'get started';
                            width: 100%;
                            height: 50%;
                            position: absolute;
                            bottom: 0;
                            left: 0;                           
                            overflow: hidden;
                            display: flex;
                            align-items: center;
                            justify-content: center; 
                            color: transparent;
                            transition: all .5s ease-in-out;
                            white-space: nowrap;
                            
                            background-color: rgba(000, 000, 000, 0.2);
                        }

                        &:hover::before{
                            border-radius: 10px;
                            border-bottom: 0px;
                            color: #fff;
                            height: 100%;  
                            background-color: #000;                                                     
                        }
                    }                    
                    
                }
            }
        }
    }
}

@media (max-width:1200px) {

    

}


@media (max-width:550px) {

// .navbar {
//     visibility: hidden;
// }
    

}